body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: red;
    border: 5px solid black;
    margin: 0;
}

.Hero {
    display: flex;
    margin: 0;
    color:white;
    font-size: 72px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
}
