.Hero {
    display: flex;
    height: 1620px;
    width: 2880px;
    background-color: red;
    margin: 0;
    color:white;
    font-size: 72px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
}
